/*Color Palette
01. #E36822 - orange
02. white
03. black
04. #7F7967 - steal
05. #A2F4E4 - action buttons
*/




/* Global styles
-------------------*/

@font-face {
    font-family: 'nasalization-rg';
    src: url('webfont/nasalization-rg-webfont.woff2') format('woff2'),
         url('webfont/nasalization-rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
  background-color: black;
}

h1 {
  color: #E36822;
  text-align: center;
  font-family: 'Arial', 'sans-serif';
  font-size: 50px;
}
h2 {
  color: #7F7967;
  text-align: center;
  font-family: 'Verdana', 'sans-serif';
}
blockquote {
  color : #332717;
  background-color: white;
  font-family: 'Georgia', 'serif';
  width: 40%;
  padding: 10%;
}

/* Header and Footer
-------------------*/




/*  Nav -bar
-------------*/




/* Form styles
-------------- */
.form-error {
  display: none;
  color: red;
  font-size: 14px;
}
#submitMessage {
  display: none;
}

/* Action button on the index page
----------------------------------- */
a.action {
  color: black;
  background-color: #A2F4E4;
  border: 2px black;
}



/*  Images
------------*/


/* Media Queries
-------------------*/

/*mobile styles*/
@media only screen and (max-width: 480px) {

}
}


/*tablet styles*/
@media only screen and (max-width: 768px) {

}
}


/*desktop styles*/
@media only screen and (max-width:1024px) {

}
}
