/*Color Palette
01. #E36822 - orange
02. white
03. black
04. #7F7967 - steal
05. #A2F4E4 - action buttons
*/




/* Global styles
-------------------*/

@font-face {
    font-family: 'nasalization-rg';
    src: url('webfont/nasalization-rg-webfont.woff2') format('woff2'),
         url('webfont/nasalization-rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
  background-color: black;
}

/* Heading
-------------------*/
.main-heading {
  color: #E36822;
  text-align: center;
  font-family: 'nasalization', 'Arial', 'sans-serif';
  font-size: 55px;
}
.rovers {
  color: white;
  font-size: 40px;
  text-align: center;
  background: black;
  font-family: 'nasalization', 'Arial' 'sans-serif';
}
.sojourner-heading {
  color: #E36822;
  text-align: center;
  font-family: 'nasalization', 'Arial' 'sans-serif';
  font-size: 30px;
}
.opportunity-heading {
  color: #E36822;
  text-align: center;
  font-family: 'nasalization', 'Arial' 'sans-serif';
  font-size: 30px;
}
.curiosity-heading {
  color: #E36822;
  text-align: center;
  font-family: 'nasalization', 'Arial' 'sans-serif';
  font-size: 30px;
}
.perseverance-heading {
  color: #E36822;
  text-align: center;
  font-family: 'nasalization', 'Arial' 'sans-serif';
  font-size: 30px;
}
.new {
  font-family: 'Arial', 'sans-serif';
  font-size: 20px;
  color: black;
  text-align: center;
}
h1 {
  color: #E36822;
  text-align: center;
  font-family: 'Arial', 'sans-serif';
  font-size: 55px;
}
h2 {
  color: #7F7967;
  font-family: 'Verdana', 'sans-serif';
}
h3 {
  color: black;
}
p {
  color: black;
}
blockquote {
  color : white;
  background-color: black;
  font-family: 'Georgia', 'serif';
  width: 40%;
}
.container_1 {
  display: flex;
}
.container_2 {
  display: flex;
}
.container_1_launches {
  display: flex;
}
.container_2_launches {
  display: flex;
}
.container_3_launches {
  display: flex;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-1_launches, .col-2_launches, .col-3_launches,
.col-4_launches, .col-5_launches {
  background: white;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-1_launches, .col-2_launches, .col-3_launches,
.col-4_launches, .col-5_launches {
  flex: 1;
}
.col-1  {
  order: 1;
}
.col-2 {
  order: 2;
}
.col-3 {
  order: 3;
}
.col-4 {
  order: 4;
}
.col-5 {
  order: 5;
}
.col-1_launches  {
  order: 1;
}
.col-2_launches {
  order: 2;
}
.col-3_launches {
  order: 3;
}
.col-4_launches {
  order: 4;
}
.col-5_launches {
  order: 5;
  float: left;
}


/* Header and Footer
-------------------*/



/*  Nav -bar
-------------*/
.navigation a {
  color: #7F7967;
  text-decoration: none;
  font-size: 35px;
  padding: 14px 16px;
  float: left;
  margin-left: 8%;
  background: white;
}



/* Form styles
-------------- */
.form-error {
  display: none;
  color: red;
  font-size: 14px;
}
#submitMessage {
  display: none;
}

/* Action button on the index page
----------------------------------- */
a.action {
  color: black;
  background-color: #A2F4E4;
  border: 2px black;
}



/*  Images
------------*/
.sojourner {
  width: 30%;
}
.opportunity {
  width: 30%;
}
.spirit {
  width: 30%;
}
.curiosity {
  width: 30%;
}
.perseverance {
  width: 30%;
}
.artemis {
  width: 30%;
}
.gateway {
  width: 30%;
}
.the_gateway {
  color: white;
}

/* Mars Pathfinder Mission */


/* Mars Exploration Rovers Mission */
.opportunity´s_tracks {
  width: 30%;
}
.exploration_image_1 {
  color: white;
}
.opportunity´s_shadow {
  width: 30%;
}
.exploration_image_2 {
  color: white;
}

/* Mars Science Laboratory Mission */
.launching_curiosity {
  width: 30%;
}
.science_image_1 {
  color: white;
}
.launching_spacecraft {
  width: 30%;
}
.science_image_2 {
  color: white;
}




/* Media Queries
-------------------*/

/*mobile styles*/
@media only screen and (max-width: 480px) {
.container_1, .container_2 {
    flex-direction: column;
}
.col-1, .col-2, .col-3, .col-4, .col-5 {
  background: white;
}
.col-1 {
  order: 4;
}
.col-2 {
  order: 4;
}
.col-3 {
  order: 3;
}
.col-4 {
  order: 2;
}
.col-5 {
  order: 1;
}
blockquote {

}
}


/*tablet styles*/
@media only screen and (max-width: 768px) {

}
}


/*desktop styles*/
@media only screen and (max-width:1024px) {

}
}
